.page {
  min-height: 100vh;
  min-width: 100vw;
  padding: 100px 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/background-watermark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 100%;
}
.documentViewer {
  max-width: 1200px;
  min-height: 940px;
  display: flex;
}

.textAndBarContainer {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

.text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 16px;
  line-height: 43px;
  color: #696969;
}
