.bar {
  width: 90%;
  max-width: 1112px;
  height: 44px;
  background-color: #004f54;
  box-shadow: 0px 0px 1px 1px rgba(0, 55, 59, 0.4);
  border-radius: 10px 10px 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 53px;
}

.buttonsGroup {
  display: flex;
  align-items: center;
  gap: 22px;
}

.tab {
  background-color: transparent;
  border: none;
  color: #fff;
  // width: 76px;
  // height: 24px;
  font-weight: 700;
  line-height: 43px;
}

.logo {
  width: 27.31px;
  height: 17.24px;
}

.selected {
  width: 111px;
  margin-top: 15px;
  height: 35px;
  display: inline-flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  background-color: #f9fbfc;
  border-bottom: 1px solid #f9fbfc;
  color: #004f54;
}
